body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: radial-gradient(circle, #8c0808, #000000);
.card {
  position: relative;
  width: 300px;
  height: 600px;
  perspective: 1000px;

}


.shield, .sword-front, .sword-back, .chains {
  position: absolute;
  top: 130px;
  transition: transform 0.6s ease-in-out;
  pointer-events: auto; /* Ensure pointer events are enabled */
}

.shield {
  width: 100%;
  height: 80%;
  z-index: 3;
}

.sword-front {
  left: 75px;
  width: 57%;
  height: 75%;
  z-index: 2;
  transform: rotateZ(8deg);

  backface-visibility: hidden;
}

.sword-back {
  left: 75px;
  width: 57%;
  height: 75%;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  z-index: 1;
}
.chains {
  position: absolute;
  width: 59%;
  height: 59%;
  left: 65px;
  top: 220px;
  background: url('chains.png') no-repeat center center;
  background-size: contain; /* Adjust as needed */
  z-index: 1; /* Ensure it appears above the SVG elements but below the card’s flipped state */
  opacity: 0; /* Start hidden */
  transition: opacity 0.1s ease-in-out;
  transform: rotateY(180deg)
}

.card.flipped .chains {
  transition: opacity 0.1s ease-in-out;
  transition-delay: 0.36s;
  z-index: 5;
  opacity: 1; /* Show chains when the card is flipped */
  pointer-events: none; /* Prevent the chains from interfering with mouse events */
  transform: rotateY(0deg); /* Rotate and slightly scale for a natural effect */
}


.card.flipped .shield {
  transform: rotateY(180deg);
}

.card.flipped .sword-front {
  transform: rotateY(180deg);
}

.card.flipped .sword-back {
  transform: rotateY(0deg);
  transform: rotateZ(-8deg);

  z-index: 4;
}

.sword-out .sword-front {
  transform: translateY(-70%) rotate(270deg)!important;
}

.sword-out .sword-back {
  transform: translateY(-70%) rotate(90deg) rotateY(180deg) !important;
}

.sword-front.flipped-horizontal {
  transform: translateY(-70%) rotateY(180deg) rotate(90deg) !important;
}

.sword-back.flipped-horizontal {
  transform: translateY(-70%) rotate(90deg) !important;
}

/* Define styles for the highlighted path */
.highlight {
  stroke: red !important; /* Highlight color */
  stroke-width: 8 !important; /* Optional: Increase stroke width on highlight */
  cursor: pointer !important; /* Cursor changes only when highlighted */
}

#sword-front text:hover  {
  cursor: pointer !important;
  fill: #007BFF !important; /* Highlight color on hover */
  text-decoration: underline; /* Add underline on hover */
}
